# Tickets to json

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [38]:
import pandas as pd

extract = './ionesoft_tickets.csv'
names=['ticket', 'type', 'client', 'issuer', 'inquiry', 'answer']

corpus = pd.read_csv(extract, sep=',', encoding='ansi', names=names, skiprows=[0])
corpus['ticket'] = corpus['ticket'].astype(str)

corpus.head()

,ticket,type,client,issuer,inquiry,answer
0,2019030563000120.0,Fehler in der App,SVBA,3,ich kann die bilder in übungen nicht bearbeite...,Fehlerbericht senden
1,2019030463000110.0,Fehler in der App,FOMA,3,lückentexte weg daten verloren gegangen von pp...,Fehlerbericht senden
2,2019022863000110.0,Anmeldung / Aktivierung,AGVS,3,bitte deaktivieren sie dieses gerät. vielen dank.,"Gerät entfernt, neu starten"
3,2019022863000020.0,Geräteanzahl überschritten,BEOOK,3,ich habe einen neuen laptop und möchte den alt...,"Gerät entfernt, neu starten"
4,2019022763000080.0,Geräteanzahl überschritten,BEOOK,3,offenbar habe ich die geräteanzahl überschritt...,"Gerät entfernt, neu starten"

### Select just the ticket and the inquiry column
These two columns are also renamed to title and text

In [39]:
ticket_infos = corpus[['ticket', 'inquiry']]
ticket_infos = ticket_infos.rename(index=str, columns={"ticket":"title", "inquiry":"text"})
ticket_infos.head()

                title                                               text
0  2019030563000120.0  ich kann die bilder in übungen nicht bearbeite...
1  2019030463000110.0  lückentexte weg daten verloren gegangen von pp...
2  2019022863000110.0  bitte deaktivieren sie dieses gerät. vielen dank.
3  2019022863000020.0  ich habe einen neuen laptop und möchte den alt...
4  2019022763000080.0  offenbar habe ich die geräteanzahl überschritt...

### Export the dataframe to a json list
Format: {{title:'a title', text:'a long long text'}, ...}

In [40]:
ticket_infos.to_json('ticket_texts.json', orient='records', force_ascii=False)

### Save each json document in a separate file

In [42]:
import json
import os

tickets = None
with open('ticket_texts.json','r') as f:
    tickets = json.load(f, object_hook=None)

doc_dir = 'documents'
if not os.path.exists(doc_dir):
    os.makedirs(doc_dir)

count = 0
for doc in tickets:
    count = count +1
    with open(doc_dir+'/'+doc['title']+'.json', 'w') as f:
        json.dump(doc, f, ensure_ascii=False)
print(count)

891